  <tr>
    <td><%= link_to(record.case_number, record_path(record)) %></td>
    <td><%= render_record_room_id(record) %></td>
    <td><%= render_record_device_name(record) %></td>
    <td><%= render_record_device_model(record) %></td>
    <td><%= render_record_serial_number(record) %></td>
    <td><%= render_record_description(record) %></td>
    <td><%= render_record_result(record) %></td>
    <td><%= record.user.email %></td>

  </tr>
