<div class="my-content">
  <div class="my-select-wrp">
    <div class="record">
      <%= link_to("New record", new_record_path, class: "btn btn-primary pull-right") %>
    </div>
    <div class="dropdown clearfix pull-right">
      <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenuDivider" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
        排序
          <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" aria-labelledby="dropdownMenuDivider">
        <li>
          <%= link_to("默认排序", records_path(:order => "recent")) %>

        </li>
          <li>
            <%= link_to("按照 房间号 排序", records_path(:order => "by_room_id")) %>
          </li>
          <li>
              <%= link_to("按照 型号 排序", records_path(:order => "by_device_model")) %>

          </li>
          <li>
            <%= link_to("按照 序列号 排序", records_path(:order => "by_serial_number")) %>

          </li>
      </ul>
    </div>
  </div>
  <div class="my-table-wrp">
    <table class="table table-hover">
      <thead>
        <tr>
          <td>流水号</td>
          <td>房间号</td>
          <td>设备名称</td>
          <td>型号</td>
          <td>序列号</td>
          <td>故障描述</td>
          <td>结果</td>
          <td>记录添加人</td>
        </tr>
      </thead>
      <tbody>
        <%= render :partial => "record_item", :collection => @records, :as => :record %>
      </tbody>
    </table>
    <div class="text-center">
      <%= will_paginate @records %>
    </div>
  </div>


</div>
