<div class="pull-right">
  <b>目前共有<%= @records.count %>条记录</b>
  <%= link_to("Add a record", new_admin_record_path, :class => "btn btn-default" ) %>
</div>

<br><br>

<table class="table table-bordered table-striped custab">
  <tr><td>Case No.</td><td>Function</td><td>Record Created Time</td></tr>
  <% @records.each do |record| %>
  <tr>
    <td>
      <%= link_to(record.case_number, admin_record_path(record)) %>
    </td>
    <td>
      <%= link_to("Edit", edit_admin_record_path(record), :class => "btn btn-xs btn-info") %>
      <%= link_to("Destroy", admin_record_path(record), :method => :delete, :class => "btn btn-xs btn-danger", :data => { :confirm => "Are you sure?" }) %>

    </td>
    <td>
      <%= record.created_at%>
    </td>
  </tr>
  <% end %>
</table>
